{deps, [
        %{mongodb-erlang, ".*", {git, "https://github.com/comtihon/mongodb-erlang.git", "master"}},
        {mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang.git", "master"}},
        %{lager_syslog, ".*", {git, "https://github.com/basho/lager_syslog.git", "master"}},
        {msgpack, ".*",{git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
        {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
        {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", "master"}},
        {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
        {bson, ".*", {git, "https://github.com/comtihon/bson-erlang", "master"}}
]}.
{sub_dirs, [
    %"apps/data", 
    %"rels/data", 
    %"apps/gate", 
    %"rels/gate",
    "apps/wscli", 
    "rels/wscli"
    ]}.

{erl_opts, [{parse_transform, lager_transform},debug_info]}.
